in questa cartella devo creare unnmenu contenstuale per windows con 2 nuove funzionalità:
1. una che una volta cliccata apre un menu da qui si può convertire il file selezionato in molteplici formati
2. e uno che alimina lo sfondo da un'immagine selezionata

